@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

@font-face {
    font-family: sarasa mono;
    src: url("../fonts/sarasa-mono-slab-sc-bold.ttf");
}

body {
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    color: #ffffff;
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Helvetica Neue",
        "Arial",
        "PingFang SC",
        "Hiragino Sans GB",
        "STHeiti",
        "Microsoft YaHei",
        "Microsoft JhengHei",
        "Source Han Sans SC",
        "Noto Sans CJK SC",
        "Source Han Sans CN",
        "Noto Sans SC",
        "Source Han Sans TC",
        "Noto Sans CJK TC",
        "WenQuanYi Micro Hei",
        SimSun,
        sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

/*  Add a dark overlay  */
body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}

h1 {
    z-index: 1;
    font-size: 75px;
    margin: -175px 0 40px;
    position: absolute;
    top: 300px;
}

.textin {
    z-index: 1;
    position: relative;
    top: 25px;
}
.username {
    font-size: large;
    position: relative;
    top: -25px;
    border: 0;
    padding: 10px 40px;
}
.username:focus {
    /* outline: 2px solid rgb(177, 81, 81); */
    background-color: rgb(236, 207, 207);
}
.password {
    font-size: large;
    position: relative;
    border: 0;
    padding: 10px 40px;
}
.password:focus {
    /* outline: 2px solid rgb(177, 81, 81); */
    background-color: rgb(236, 207, 207);
}
.login {
    font-size: large;
    position: relative;
    top: 25px;
    border: 0;
    padding: 20px 40px;
}
.login {    
    cursor: pointer;    /*  光标呈现为指示链接的指针（一只手）  */
    border: 0;
    padding: 20px 40px;
    background: rgb(177, 81, 81);
    color: #fff;
    border-radius: 35px;    /*  上下左右内边距是 5px  */
}

.login:focus {
    outline: 0;
}

.login:hover {
    background: #222;
}

.login:active {
    transform: scale(0.98);
}

.username {
    height: 50px;
    width: 300px;
}
.password {
    height: 50px;
    width: 300px;
}
.textin {
    display: flex;    /*弹性布局*/
    flex-direction: column;    /*作为列，垂直地显示弹性项目。*/  
    align-items: center;    /*项目位于容器的中央。*/
    justify-content: center;    /*对齐弹性项目,项目位于容器中央*/
    margin: 15px;    /*在一条声明中设置所有外边距属性*/ 
}

input::placeholder {
    font-family:
        "sarasa mono",
        -apple-system,
        BlinkMacSystemFont,
        "Helvetica Neue",
        "Arial",
        "PingFang SC",
        "Hiragino Sans GB",
        "STHeiti",
        "Microsoft YaHei",
        "Microsoft JhengHei",
        "Source Han Sans SC",
        "Noto Sans CJK SC",
        "Source Han Sans CN",
        "Noto Sans SC",
        "Source Han Sans TC",
        "Noto Sans CJK TC",
        "WenQuanYi Micro Hei",
        SimSun,
        sans-serif;
}
